[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.config/zsh/themes/powerlevel10k"]
	path = zsh/.config/zsh/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:MetinYalcinkaya/nvim.git
